
@font-face {
    font-family:"FacebookLetterFaces";
    src:url("FACEBOLF.woff2") format("woff2"),url("FACEBOLF.woff") format("woff"),url("FACEBOLF.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        