
@font-face {
    font-family:"Söhne Kursiv";
    src:url("Sohne-BuchKursiv.woff2") format("woff2"),url("Sohne-BuchKursiv.woff") format("woff"),url("Sohne-BuchKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        