
@font-face {
    font-family:"Söhne Halbfett";
    src:url("Sohne-Halbfett.woff2") format("woff2"),url("Sohne-Halbfett.woff") format("woff"),url("Sohne-Halbfett.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        