
@font-face {
    font-family:"Söhne Extraleicht";
    src:url("Sohne-Extraleicht.woff2") format("woff2"),url("Sohne-Extraleicht.woff") format("woff"),url("Sohne-Extraleicht.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        