
@font-face {
    font-family:"Söhne";
    src:url("Sohne-Buch.woff2") format("woff2"),url("Sohne-Buch.woff") format("woff"),url("Sohne-Buch.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        