
@font-face {
    font-family:"Söhne Fett";
    src:url("Sohne-Fett.woff2") format("woff2"),url("Sohne-Fett.woff") format("woff"),url("Sohne-Fett.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        