
@font-face {
    font-family:"Söhne Kräftig Kursiv";
    src:url("Sohne-KraftigKursiv.woff2") format("woff2"),url("Sohne-KraftigKursiv.woff") format("woff"),url("Sohne-KraftigKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        