
@font-face {
    font-family:"Söhne Leicht Kursiv";
    src:url("Sohne-LeichtKursiv.woff2") format("woff2"),url("Sohne-LeichtKursiv.woff") format("woff"),url("Sohne-LeichtKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        