
@font-face {
    font-family:"Söhne Extrafett";
    src:url("Sohne-Extrafett.woff2") format("woff2"),url("Sohne-Extrafett.woff") format("woff"),url("Sohne-Extrafett.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        