
@font-face {
    font-family:"Söhne Bold Kursiv";
    src:url("Sohne-DreiviertelfettKursiv.woff2") format("woff2"),url("Sohne-DreiviertelfettKursiv.woff") format("woff"),url("Sohne-DreiviertelfettKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        