
@font-face {
    font-family:"Söhne Extraleicht Kursiv";
    src:url("Sohne-ExtraleichtKursiv.woff2") format("woff2"),url("Sohne-ExtraleichtKursiv.woff") format("woff"),url("Sohne-ExtraleichtKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        