
@font-face {
    font-family:"Söhne Halbfett Kursiv";
    src:url("Sohne-HalbfettKursiv.woff2") format("woff2"),url("Sohne-HalbfettKursiv.woff") format("woff"),url("Sohne-HalbfettKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        