
@font-face {
    font-family:"Söhne Bold";
    src:url("Sohne-Dreiviertelfett.woff2") format("woff2"),url("Sohne-Dreiviertelfett.woff") format("woff"),url("Sohne-Dreiviertelfett.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        