
@font-face {
    font-family:"Söhne Fett Kursiv";
    src:url("Sohne-FettKursiv.woff2") format("woff2"),url("Sohne-FettKursiv.woff") format("woff"),url("Sohne-FettKursiv.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        